.main-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
  }
  .row{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .service-card {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
  }
  .service-card:hover {
    transform: scale(1.05);
  }
  
  .card-title{
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
  }
  @media screen and (max-width: 768px) {
    .row{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .service-card {
      width: 90%;
    }
    
  }
     