.services-container{
  margin: 4rem 15rem;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  
}

.subsection{
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subsection h2{
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 1.5rem;
  color: black;
  text-align: center;
}
  .row{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
  .service-card {
    width: 18rem;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 22rem;

 
  }
  .service-card:hover {
    transform: scale(1.05);
  }
  .service-card img{
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .card-title{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0.2rem 0;
    padding: 0.5rem;
  }
  .card-text{
    color: #6d6b6b;
    font-size: 0.9rem;
    margin: 0.9rem 0.8rem;
    text-align: left;
    
  }
  .service-icon{
    margin: 0 0.2rem;
  }

  @media screen and (max-width: 768px) {
  
    .row{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    
  }
  @media screen and (max-width: 1200px) {
      
    .row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  
   
  }