.blog-page{
    margin-top: 8rem;
}

.blog-page h1{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}
.blog-page h1 strong{
    color: var(--main-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.blogwrite-btn{
    justify-content: center;
    margin-top: 1rem;
    margin-left: 10rem;
    background-color: #fff;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.blogwrite-btn:hover{
    color: var(--main-color);
}
