.blog-page{
    margin-top: 8rem;
}
.blog-page h1{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}
.blog-page h1 strong{
  color: var(--main-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.blogwrite-btn{
    justify-content: center;
    margin-top: 1rem;
    margin-left: 5rem;
    background-color: #fff;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.blog-btn {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
}
.blogwrite-btn:hover{
    color: var(--main-color);
}


/*login*/

.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: transparent;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .overlay {
    position: fixed;
    margin-top: -1px;
    margin-left: -500px;
    width: 150vw;
    height: 450vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 50; 
  } 

  .section {
    display: flex;
    z-index: 900;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    background: transparent;
  }

  .login-form {
    z-index: 900;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    height: auto;
    margin-top: -120vh;
    width: 600px;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .slider-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .sub-title {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
  }
  
  .login-input {
    width: 75%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
  }
  
  .login-btn {
    width: 60%;
    padding: 10px;
    background-color: #E25E3E;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;

  }
  
  .login-btn:hover {
    background-color: #962003;
  }
  
  .submit-btn {
    width: 60%;
    padding: 10px;
    background-color: #E25E3E;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;

  }
  
  .submit-btn:hover {
    background-color: #962003;
  }
  
  .login-close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
    color: #777;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .login-close:hover {
    color: #333;
  }

  p{
    margin-bottom: 10px;
    margin-top: 20px;

  }
  