.post {
    width: 350px;
    margin: 40px 30px 40px 40px;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    padding-bottom: 40px;
    border-radius: 0.8rem;
}
/* .post:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  } */
.post:hover{
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

.post-image {
    width: 100%;
    border-radius: 0.8rem 0.8rem 0px 0px;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.post-image:hover {
    transform: scale(1.01);
}
.writeten-content{
    margin: 1rem;
}

.postInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}


.postTitle {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer; 
    
}
.postDate{
    font-size: 0.9rem;
    color: #8d8a8a;
    padding: 1rem;
}

.postDecription {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: rgb(38, 37, 37);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.veiw-more {
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    color: #8d8a8a;
}
.veiw-more:hover {
    color: var(--main-color);
}