.MostPopular {
    margin-top: 100px;
    align-items: center;
    margin: 20px;
}

.MostPopular h1 {
    padding: 40px;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
}

.MostPopular h1 strong {
    color: var(--main-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.most-popular-btn:hover {
    color: var(--main-color);
}

@media screen and (max-width: 768px) {
    .MostPopular {
        margin-top: 60px;
        margin: 30px;
    }
    
    
}



