.Support-persons h2{
    padding-top: 100px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.Support-persons h2 strong{
    color: #E25E3E;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.support-persons-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 100px;
}

.Person-box {
    background-color: #e8e1e1;
    border-radius: 10px;
    padding: 20px;
    padding-top: 80px;
    margin-top: 100px;
    margin-bottom: 40px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    
}
.Person-box:hover {
    transform: translateY(-5px);
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}
.avatar:hover {
    transform: scale(1.1) translateX(-50%);
  
}

.Person-box h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 5px;
    
}
.Person-box h3{
    color: #333;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 10px;
}

.Person-box p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    padding: 1.2px;
    
    
}