
 .search-bar {
    display: flex;
    
  }


  
  .search-input {
    padding: 10px 14px;
    border: 1px solid black;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    outline: none;
    width: 175px;
    height: 40px;
    background-color: white;
    opacity: 0.7;
    font-size: 16px;

    
  }
  
  .search-input:focus {
    border-color: black;

  }
 
  .search-btn {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 40px;
    cursor: pointer;
    width: 50px;
    font-size: 15px;
    align-items: center;
   
    
  }
  
  .search-btn:hover {
    background-color: white;
    color: black;
  }



  @media screen and (max-width: 768px){
    .search-bar{
      display: none;
    }
    
  }
  @media screen and (max-width: 1200px){
    .search-bar{
      display: none;
    }
    
  }

  

