@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" );

*,*::after , *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    top: 0;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 5px 15px 0 rgb(16, 16, 16);
    width: 100%;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    z-index: 99;
}
.applogo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-brand{
    text-transform: uppercase;
    font-weight: bold;
    color: #E25E3E;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.nav-menu {
    display : flex ;
    align-items: center;
    justify-content: space-around;
    gap: 1.4rem;

    
}
.nav-link{
    font-size: 15px;
    display: flex;
    gap: 8px;
    font-weight: 400;
    padding: 10px 15px;
    cursor: pointer;
   
}
.nav-link:hover{
    color: #fff;
    background-color: #E25E3E;
    border-radius: 4px;
}
.nav-toggler div{
    width: 1.6rem;
    height: 0.15rem;
    margin: 0.3rem;
    background: black;
    transition: 0.4s ease-in;
}
.nav-toggler {
    cursor: pointer;
    display: none;

}

/*login*/
.login-container {
    z-index: 999; /* Ensure it's above other content */
}
.section {
    position: absolute;
    left: 50%;
    top: 60%;

    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 2rem; 
    width: 48rem;
    height: 12rem;
}

.image-container {
    display: flex;
    float: left;
    /* margin-right: 20px; */
    
  }
  
  .slider-image {
    width: 24rem; 
    height: 29.55rem; 
    border-radius: 2rem 0rem 0rem 2rem;
  }
.login-form {
    display: flex;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-bottom: 50px;
    transform: translate(-50%, -50%);
    line-height: 2;
    background: #fff;
    border-radius: 2rem;
    width: 48rem;
    height: 22rem;

}
.login-close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    border: none;
    color: #45180d;
    background-color: #fff;
}

.login-close :hover{
    color: #E25E3E;
}
.sub-title{
    color: #45180d;
    padding: 1rem;
    margin-top: 1.2rem;
    font-size: 2rem;
}

.login-form p{
    margin-top: 2rem;
    font-size: 1rem;
    color: #E25E3E; 
}

.login-input{
    padding: 0.6rem;
    padding-left: 3rem;
    background: #e4dedc;
    margin: 0.4rem;
    text-transform: none;
    font-size: 1rem;
    width:80%;
    align-items: center;
    border-radius: .5rem;
    border-color: #E25E3E;
    
}

.login-input::placeholder{
    font-size: 1rem;
    color: #dd7a61;
    
}

.input-container{
    margin-bottom: 1rem;
    position: fixed;
    
}

.login-container {
   margin-top: 820px;
}

.login-container, .overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    margin-left: -20px;
}


.submit-btn{
    padding: 0.4rem 1rem;
    background:transparent;
    color: #45180d;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.2rem;
    border-radius: 5rem;
}
.submit-btn-signup{
    padding: 0.4rem 1rem;
    background:transparent;
    color: #45180d;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.2rem;
    border-radius: 5rem;
}
.submit-btn-signup :hover{
    color: #fff;
    background-color: #E25E3E;
    border-color: #fff;
    
}
.submit-btn:hover{
    color: #fff;
    background-color: #E25E3E;
    border-color: #fff;
}
.login-btn{
    padding: 0.4rem 1rem;
    background:transparent;
    color: #45180d;
    cursor: pointer;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5rem;
}
.login-btn:hover{
    color: #fff;
    background-color: #E25E3E;
    border-color: #fff;
}



@media screen and (max-width: 768px){
    .nav {
        position: fixed; 
        z-index: 9; 

    }
    .nav-menu{
        display: flex;
       flex-direction: column;
       background-color: #fff;
       width: 100%;
       height: auto;
       position: absolute;
       padding: 100px 0 40px 0;
       top: 0;
       left: 0;
       opacity: 0.85;
       margin: 0;
       justify-content: flex-start;
        transform: translateX(-120%);
       transition: all 0.5s ease-in;
       z-index: -1;
       gap: 1.5rem;
    
    }
    .nav-active{
       z-index: -1;
       border-radius: 20px;
       
    }
  
    .nav-link{
        font-size: 1.2rem;
        display: block;
    
    }
    .nav-link:hover{
        width: 300px;
        text-align: center;
    }
    
    .nav-toggler{
        display: block;
    }
   
}
.nav-active{
    transform: translateX(0);
}
.toggle .line1{
    transform: rotate(-45deg) translate(-4px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-4px,-6px);
}


