.card {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    max-width: 350px;
    text-align: start;
    height: 430px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px;
<<<<<<< Updated upstream
    padding: 4px;
=======
    padding: 6px;
    align-items: center;
>>>>>>> Stashed changes
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
}
.heart-icon{
  color: black;
  position: absolute;
  font-size:25px;
  margin-right: -220px;
  margin-top: 12px;
}
.heart-icon.liked {
  color: red; 
}

.card-image {
    height: 300px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.card-image:hover img {
    transform: scale(1.01);
}

.card h2 {
    font-size: 1.3rem;
    padding-left: 10px;
    padding-top: 10px;
}
.location{
  font-style: italic;
  font-size: 16px;
  padding-left: 10px;
   

}
.card p {
    margin-bottom: 10px;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
  }
  .card button {
    background-color: #E25E3E;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 15px 10px;

  }
  .card button:hover {
    background-color: #56190a;
  }
  
@media screen and (max-width: 768px) {
    .card {
        width: 100%;
        margin-bottom: 20px;
    }

}
.slick-prev, .slick-next {
    font-size: 25px;
    color: #E25E3E; 
    z-index: 1; 
  }
  
  .slick-prev {
    left: -30px; 
  }
  
  .slick-next {
    right: -30px; 
  }