.card {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    width: 20rem;
    text-align: start;
    height: 30rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
    margin: 0.8rem;
    
}

.card:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}


.card-image {
    height: 18rem;
    overflow: hidden;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    width: 100%;
}

.card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.card-image:hover img {
    transform: scale(1.01);
}
.heading-card{
  display: flex;
  margin: 1rem 1rem 0.6rem 1rem;
}
.card h2 {
    font-size: 1.3rem;
}
.heart-icon{
  color: black;
  font-size: 1.3rem;
  margin-left: auto;
 
}
.heart-icon.liked {
  color: var(--main-color); 
}
.card .location{
  font-style: italic;
  font-size: 0.9rem;
  
}
.card p {
    margin: 0.01rem 1rem 0.5rem 1rem;
    font-size: 0.9rem;
    text-align: justify;
  }
  .card .star-icon{
    color: #E25E3E;
  }

  .card button {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    padding: 0.6rem 1.4rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    margin: 1rem auto;

  }
  .card button:hover {
    background-color: #56190a;
  }
  
@media screen and (max-width: 768px) {
    .card {
        width: 100%;
        height: auto;
        max-width: auto;
        margin: 1rem;
    }

}


.slick-arrow.slick-next {
  position: absolute;
  right: -15px; 
  top: 50%; 
  transform: translateY(-50%); 
  z-index: 9; 
  cursor: pointer; 

}


.slick-arrow.slick-prev {
  position: absolute;
  left: -25px; 
  top: 50%; 
  transform: translateY(-50%); 
  z-index: 9; 
  cursor: pointer; 
  
}


.slick-arrow svg {
  fill: var(--main-color);
  width: 30px; 
  height: 30px;
  
}

  