/*home page*/
.GalleFort{
  margin: 40px 100px;
}
.section1{
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App-main-topic {
  background-color: #ffff;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  color: black;
}

.description-box {
  margin: 5px;

}
.description-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: black;
  margin: 10px 40PX;
}
.decor-line{
  width: 50%;
  height: 60px;
  display: flex;
  margin-left: 300px;
}
@media screen and (max-width: 768px) {
  .decor-line{
    width: 70%;
    height: 60px;
    display: flex;
    margin-left: 80px;
  }
  
}
/* Historical places */
.historical-place {
  padding: 20px;
}

.historicalPlaces-heading{
  font-size: 2rem;
  font-weight: 800;
  color: #E25E3E;
  text-align: center;
}
.Categorical-type{
  margin: 60px 80px;

}
.Categorical-type h1{
  font-size: 2rem;
  font-weight: 800;
  color: #E25E3E;
  margin-bottom: 25px;
  margin-top: 100px;

}
